.input-wrapper {
  border-radius: 15px;
  display      : block;
  padding      : .2rem;
  height       : 100%;

  h3 {
    color: grey;
  }

  h4 {
    font-weight: 600;
    margin-left: 5px;
  }

  .button-sm-width {
    width : 100%;
    height: 2rem;
  }


  .form-group {
    width: 100%;

    .input {
      width      : 18.5rem;
      padding-top: 1rem;
      height     : 2.5rem;
    }

    .input100 {
      width       : 100%;
      padding-top : 1rem;
      padding-left: .5rem;
      height      : 2.5rem;
    }

    .valid {
      border: 1px solid #28a745;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
      }
    }

    .invalid {
      border: 1px solid #dc3545;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
      }
    }
  }

  .button-container {
    display: inline;

    .t-right-button-container {
      float   : right;
      position: relative;

      .t-right-button {
        display        : flex;
        flex-grow      : 1;
        justify-content: center;
        align-items    : center;
      }
    }

    .simple-button {
      margin-top: 1rem;
    }
  }


  .input-styles {
    position: relative;

    input,
    select {
      outline    : initial !important;
      border     : 1px solid rgb(165, 164, 164);
      color      : grey;
      width      : 8rem;
      padding    : 0.25rem 0.75rem 0.25rem 0.75rem;
      font-size  : 0.76rem;
      line-height: 1.3;
      height     : 2rem;
      margin     : .3rem;
    }

    select {
      overflow-y: scroll;

      scrollbar-color: #CCCCCC rgba(0, 0, 0, 0.089);
      scrollbar-width: 7.5px;

    }

    textarea {
      outline    : initial !important;
      border     : 1px solid rgb(165, 164, 164);
      color      : grey;
      padding    : 0.25rem 0.75rem 0.25rem 0.75rem;
      font-size  : 0.76rem;
      line-height: 1.3;
      margin     : .3rem;
    }

    input {
      letter-spacing: 1px;
    }

    .input-box {
      display : inline;
      position: relative;

      label {
        position        : absolute;
        top             : -14px;
        left            : 16px;
        background-color: white;
        color           : grey;
        font-size       : 0.65rem;
      }
    }
  }
}

.registered-table {
  width           : 100%;
  background-color: white;
  border-radius   : 15px;
  color           : grey;
  padding-left    : 2rem;
  padding-right   : 2rem;

  table {
    width: 100%;
  }

  th {
    width        : 20%;
    text-align   : center;
    padding      : 1rem;
    border-bottom: 1px solid rgb(175, 174, 174);
  }

  td {
    width     : 20%;
    text-align: center;
    padding   : 1rem;
  }
}

@media (max-width: 950px) {
  .send-data__input-box--table {
    width: 100%;
  }
  .background-purple {
    background-image: linear-gradient(-170deg, #99459A, #512154);
    box-shadow      : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
    padding-top     : 1rem;
    padding-left    : 1rem;
    padding-bottom  : 2rem;
    margin-bottom   : .8rem;
    position        : relative;

    i {
      position : absolute;
      color    : white;
      font-size: 50px;
      right    : 1rem;
      bottom   : -1rem;
    }

    span {
      margin-bottom: .3rem;
      margin-top   : .1rem;
      margin-right : .5rem;
      font-size    : 14px;
      color        : white;
    }

    h4,
    h5 {
      margin-bottom: .5rem;
      margin-right : .5rem;
      color        : white;
    }

    h5 {
      font-size: 15px;
    }
  }

  .input-wrapper {
    .input-styles {
      padding: .85rem;

      input,
      select {
        outline    : initial !important;
        border     : 1px solid rgb(165, 164, 164);
        color      : grey;
        width      : 100%;
        padding    : 0.25rem 0.75rem 0.25rem 0.75rem;
        font-size  : 0.76rem;
        line-height: 1.3;
        height     : 2rem;
      }

      .button-container {
        width: 100%;

        button {
          display        : flex;
          flex-grow      : 1;
          width          : 100%;
          justify-content: center;
          align-items    : center;
          margin-top     : .8rem;
        }

        .t-right-button-container {
          text-align: left;
          width     : 100%;

          .t-right-button {
            display        : flex;
            flex-grow      : 1;
            width          : 100%;
            justify-content: center;
            align-items    : center;
            margin-top     : .95rem;
          }
        }
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.background-white {
  background-color: white;
  box-shadow      : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  padding         : 1.5rem;
  padding-top     : 1rem;
  height          : 100%;

  .wrapper__title {
    padding: 1rem;

    h4 {
      display     : inline;
      margin-right: 1.5rem;
    }
  }
}

.background-blue {
  background-image: linear-gradient(-170deg, #3484B7, #144D7B);
  box-shadow      : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  padding         : 2rem;
  padding-top     : 1rem;
  color           : white;

  h6 {
    margin-bottom: 1.8rem;
    margin-top   : 1.8rem;
    font-size    : 14px;
    font-weight  : 600;
  }
}

.background-gray {
  background-color: #bbbaba;
  box-shadow      : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  padding         : 2rem;
  padding-top     : 1rem;
  color           : rgb(124, 124, 124);

  p {
    font-size: 6rem;
  }

  h6 {
    margin-bottom: 1.8rem;
    margin-top   : 1.8rem;
    font-size    : 14px;
    font-weight  : 600;
  }
}

.backgroundCard {
  box-shadow    : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  padding-top   : 1rem;
  padding-left  : 1rem;
  padding-bottom: 1rem;
  margin-bottom : .8rem;
  position      : relative;

  i {
    color    : white;
    font-size: 50px;
    right    : 1rem;
    bottom   : -1rem;
    font-size: 1.5em;
  }

  span {
    margin-bottom: .3rem;
    margin-top   : .1rem;
    margin-right : .5rem;
    font-size    : 14px;
    color        : white;
  }

  h4,
  h5,
  h6 {
    margin-bottom: .5rem;
    margin-right : .5rem;
    color        : white;
  }

  h5 {
    font-size: 15px;
  }

  a,
  p {
    color: white;
  }

  a {
    &:hover {
      color: white;
    }
  }
}

.backgroundCard-purple {
  background-image: linear-gradient(-170deg, #99459A, #512154);
}

.backgroundCard-blue {
  background-image: linear-gradient(-170deg, #3484B7, #144D7B);
}

.backgroundCard-green {
  background: #576a3d;
}

.backgroundCard-orange {
  background: #e2863b;
}

.backgroundCard-red {
  background: #880a1f;
}

.backgroundCard-gray {
  background-color: #bbbaba;
  color           : #000000;
}


.year-container {
  text-align     : center;
  font-weight    : bold;
  height         : 15rem;
  display        : flex;
  align-items    : center;
  justify-content: center;

  &:hover {
    transform: scale(1.22);
    z-index  : 100000;
  }

  &__text {
    align-self: center;
    font-size : 2rem;
  }
}

.margin-3 {
  margin: 3rem;
}

.background-purple {
  background-image: linear-gradient(-170deg, #99459A, #512154);
  box-shadow      : 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
  padding-top     : 1rem;
  padding-left    : 1rem;
  padding-bottom  : 2rem;
  margin-bottom   : .8rem;
  position        : relative;

  i {
    position : absolute;
    color    : white;
    font-size: 100px;
    right    : 1rem;
    bottom   : -1rem;
  }

  span {
    margin-bottom: .3rem;
    margin-top   : .1rem;
    margin-right : .5rem;
    font-size    : 14px;
    color        : white;
  }

  h4,
  h5 {
    margin-bottom: .5rem;
    margin-right : .5rem;
    color        : white;
  }

  h5 {
    font-size: 15px;
  }
}


.txt-a-center {
  text-align: center;
}

.border-r-15 {
  border-radius: 15px;
}


.mb-3 {
  margin-bottom: 3rem;
}

.input-container {

  .clock-container {
    height       : 5rem;
    margin-bottom: 1.5rem;
  }
}

.display-flex {
  display: flex;
}

.stats-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height    : 25vh;
  width     : 100%;

  &::-webkit-scrollbar {
    width: 7.5px;
  }

  &::-webkit-scrollbar-thumb {
    background   : rgba(0, 0, 0, 0);
    border-radius: 15px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background   : #CCCCCC;
      border-radius: 15px;
      transition   : all 1.7s ease-in;
    }

    &::-webkit-scrollbar {
      width        : 7.5px;
      border-radius: 15px;
      background   : rgba(0, 0, 0, 0.089);
      transition   : all 1.7s ease-in;
    }
  }

  div {
    margin-bottom: 5px;

    span:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.send-data__container {
  padding-top   : 5rem;
  padding-bottom: 5rem;


  .send-data__input-box {
    width         : 30rem;
    font-size     : 15px;
    margin        : 0 auto;
    padding-bottom: 1rem;
  }
  .send-data__input-box--table {
    width         : 50vw;
    font-size     : 15px;
    margin        : 0 auto;
    padding-bottom: 1rem;
  }
}

.border-line {
  border    : 1px solid rgb(175, 174, 174);
  width: 100%;
  text-align: center;

  a {
    cursor: pointer;
  }
}

.box-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.09);
}

.button {

  &,
  &:link,
  &:visited {
    text-transform : uppercase;
    text-decoration: none;
    padding        : 1.5rem 4rem;
    display        : inline-block;
    border-radius  : 50%;
    transition     : all .2s;
    position       : relative;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform : translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#000000, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity  : 0;
    }
  }

  &:active,
  &:focus {
    outline   : none;
    transform : translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(#000000, .2);
  }

  &--blue {
    background-image: linear-gradient(-170deg, #3484B7, #144D7B);
    height          : 10rem;
    width           : 10rem;
    display         : block;
    color           : white;
    margin          : 0 auto;
    border-radius   : 50%;
    position        : relative;
    padding         : 0;

    &-rocket {
      i::before {
        font-family: "simple-line-icons";
        content    : "\e05c";
        font-size  : 4rem;
        position   : absolute;
        right      : 10%;
        top        : 20%;
        bottom     : 50%;
        left       : 0;
      }
    }
  }

  &--grey {
    background-color: grey;
    height          : 10rem;
    width           : 10rem;
    display         : block;
    color           : white;
    margin          : 0 auto;
    border-radius   : 50%;
    position        : relative;
    padding         : 0;
  }

  &--animated {
    animation          : moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.institution-select__container {

  .institution-select {
    height         : 100vh;
    width          : 100%;
    background     : url("/assets/img/Image8.png");
    background-size: cover;
  }
}


.institution-select__button-container {
  padding-top: 30%;
  display    : flex;
  flex       : 1;

  div {
    margin-right   : 1.5rem;
    justify-content: center;
    margin-right   : 1rem;
    text-align     : center;
    margin-bottom  : 1.5rem;
  }

  a:not(:last-child) {
    margin-right : 1.5rem;
    margin-bottom: 1rem;
  }
}