$logoPath: "/assets/img/saber-logo-nocaption.svg";
$logoPathMobile: "/assets/img/saber-logo-nocaption.svg";
$logoPathSaber: "/assets/img/saber-logo-nocaption.svg";
$logoPathMobileSaber: "/assets/img/saber-logo-nocaption.svg";