.MuiDialogContent-root main {
	margin: 0 !important;
}

.MuiRadio-colorSecondary.Mui-checked {
	color: #145388;
}

.MuiPaper-root {
	max-height: 600px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
	color: #145388;
}

.MuiRadio-colorSecondary,
.Mui-focused {
	color: rgba(0, 0, 0, 0.87) !important;
}

.MuiFormLabel-root {
	color: rgba(0, 0, 0, 0.87);
}

.react-datepicker__input-container input {
	background-color: #fff;
	color: black !important;
}

.MuiChip-root {
	background-color: #145388;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #fff;
}

.MuiChip-root:last-child {
	margin-top: 0px;
}

.caracteristicas {
	border: 1px solid #d7d7d7;
	padding-left: 4px;
	padding-right: 4px;
	background: '#fff';
}
