.gridBox {
  transition: all ease-in 1s;

  &_icon {
    display: none;
    opacity: 0;
    transition: all ease-in 1s;
  }
  &:hover &_icon {
    display: inline-block;
    opacity: 1;
    transition: all ease-in 1s;
  }
}

/*sidebar tight container*/
.sidebar-right {
  position: fixed;
  top: 100px;
  right: 0;
  background: white;
  width: 250px;
  height: 100vh;
  -moz-box-shadow: -5px 0px 5px 0px rgba(189, 185, 189, 1);
  -webkit-box-shadow: -5px 0px 10px 0px rgba(189, 185, 189, 1);
  -moz-box-shadow: -5px 0px 10px 0px rgba(189, 185, 189, 1);
  box-shadow: -5px 0px 10px 0px rgba(189, 185, 189, 1);
  overflow: scroll;
  padding-bottom: 8rem;
  .sidebar-header {
    position: relative;
  }
  .sidebar-header > h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
  }
  .sidebar-header > .close-sidebar {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
  }
  .sidebar-main {
    margin: 0;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    h4 {
      text-align: center;
      color: #145388;
      font-size: 1rem;
    }
    .content-form {
      margin-top: 25px;
      .switch-relleno,
      .switch-required {
        margin-left: 0px;
        .MuiFormControlLabel-label {
          font-family: "Nunito", sans-serif;
          font-size: 0.8rem;
          font-weight: 400;
          color: #212121;
        }
      }
    }
  }
}

.sidebarLeft {
  .main-menu {
    background-color: #145388;
    width: 80px;
  }
  .main-menu ul {
    margin-top: 50px;
  }
  .main-menu ul li a {
    border: none;
    height: 50px;
  }
}

.layout {
  .current-layout {
    border: 1px dashed #145388;
    box-shadow: 1px 1px 5px 1px #145388;
  }
}

.active__field {
  border: 1px solid #155388;
  box-shadow: 0 0.05rem 0.5rem #145388;
}

.h_gray {
  background-color: rgba(236, 235, 235, 0.317);
  border: 2px dashed rgba(31, 30, 30, 0.495);
  padding-bottom: 0.32rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.difinir-fuente-content {
  width: 100%;
  height: 400px;
  position: relative;

  .fuente-personalizada,
  .fuente-predefinida {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    .row {
      margin-bottom: 5px;
    }
  }

  .definir-valor {
    position: absolute !important;
    right: 0;
  }
  .button-add {
    position: absolute;
    bottom: 5px;
    right: 20px;
  }

  .lista-nodefinida {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50px;
    border: 2px dashed gray;
    margin: 0 auto;
    text-align: center;
    padding-top: 16%;
    cursor: pointer;
  }

  .delete-button {
    cursor: pointer;
  }

  .fuente-predefinida {
    .lista-nodefinida {
      width: 90%;
      top: 0;
      cursor: normal;
    }
    .lista .list-group-item {
      padding: 5px;
      cursor: pointer;
    }

    .lista .list-group-item:hover {
      background: #f5f5f5;
    }

    .lista .list-group-item-active {
      background: rgba(0, 0, 0, 0.1);
    }

    .lista-definida {
      height: 390px;
      max-height: 395px;
      overflow-y: auto;
      overflow-x: hidden;
      background: RGBA(0, 0, 0, 0.05);
      padding: 10px;
      border-radius: 15px;
      .lista .list-group-item {
        cursor: inherit;
      }
      .lista .list-group-item:hover {
        background: white;
      }
    }
  }
}

.item--relative {
  position: relative;
}
