.MuiDialogContent-root main{
    margin: 0 !important;
}


.kveyuA {
        padding-left: 27px;
        padding-top: 20px;
    }

.MuiRadio-colorSecondary.Mui-checked{

    color:#145388;


    }

.MuiPaper-root{

    max-height:420px;
}