.MuiDialogContent-root main{
    margin: 0 !important;
}



.MuiRadio-colorSecondary.Mui-checked{

    color:#145388;


    }

.MuiPaper-root{

    max-height:420px;
}

.MuiCheckbox-colorSecondary.Mui-checked {

    color:#145388;
}